<% layout('layouts/boilerplate') -%>

<h1 class="text-center fs-1 mt-2 fw-bold mb-2">All Cafes</h1>
<% for (let cafe of cafes) { %>
  <div class="card mt-4 mb-3 w-80 text-white bg-dark border-secondary">
    <div class="row g-0">
      <div class="col-xxl-4">
        <% if(cafe.images.length) { %>
          <img src="<%= cafe.images[0].url %>" class="img-fluid rounded-start" alt="cafe photos">
          <% } else { %> 
          <img src="https://res.cloudinary.com/dspwhfrx6/image/upload/v1634148332/IndieCafe/171026-better-coffee-boost-se-329p_zwofyt.jpg" class="card-img-top" alt="cafe photo">
          <% } %>
      </div>
      <div class="col-xxl-8">
        <div class="card-body">
          <h5 class="card-header fs-2 py-3 mb-2 text-center"><%= cafe.name %></h5>
          <p class="card-text"><%= cafe.description %></p>
          <p class="card-text"><small class="text-muted"><%= cafe.address %></small></p>
          <div class="d-grid d-md-flex justify-content-md-end">
            <a href="/cafes/<%= cafe._id%>" class="btn btn-secondary">View</a> 
          </div>  
        </div>
      </div>
    </div>
  </div> 
<% } %> 
