<% layout('layouts/boilerplate') -%>
    <h1><%= cafe.name %> </h1>
    <img src="<%= cafe.img %>" alt="cafe photo">
    <h2><%= cafe.address %> </h2>
    <a href="/cafes">Back</a>
    <a href="/cafes/<%=cafe._id%>/edit">Edit</a>
    <form action="/cafes/<%=cafe._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
